*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
    grid-template-rows: 10% 90%;
    
    
}
.box{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.menu{
    color: white;
    background-color: #343A40;
    grid-column: 1/2;
    grid-row: 1/3;
}
.menubar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:10% ;
}
.nav{
    grid-column: 2/3;
    background-color: #212529;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 1%;
}
.left-nav{
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    
}
.right-nav{
    display: flex;
    width: 10%;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.content{
    background-color: #2B3035;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.card{
    width: 17vw;
    height: 24vh;
    border-radius: 8px;
}
#card1{
    background-color: #0D6EFD;
}
#card2{
    background-color: #198754;
}
#card3{
    background-color: #FFC107;
}
#card4{
    background-color: #DC3545;
}
.stat{
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}
.graph{
    background-color: #212529;
    border-radius: 5px;
    width: 45vw;
    height: 45vh;
}

.map{
    border-radius: 5px;
    background-color: #2E82FC;
    width: 30vw;
    height: 45vh;
}